body{
    margin: 0;
    padding: 0;
    background-color: #232323;
    color: #cdcdcd;
    font-family: serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

#menuToggle{
    width: 100%;
    background-color: #ededed;
}

#menuToggle ul{
    padding: 20px;
}

#menuToggle input{
    display: none;
}

#menuToggle li{
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
    transition: all .3s ease-in;
}

#menuToggle li:hover{
    transform: scale(1.2);
}

#menuToggle a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color .3 ease;
}

#menuToggle a:hover{
    color: seagreen;
}

@media only screen and (max-width: 800px){
    #menuToggle{
       display: block; 
       position: relative;
       top: 50px;
       left: 50px;
       z-index: 1;
       background: none;
    }
    
    body{
        background-image: url("../img/20046318_866807033486271_7616227638493250239_n.jpg");
        background-size: 100vh;
        background-repeat: no-repeat;
        background-position-x: -80px;
        background-position-y: 5px;
    }
    
    #menuToggle input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        z-index: 2;
        opacity: 0;
    }
    
    #menuToggle span{
        display: block;
        width: 33px;
        height: 4px;
        background-color: #13f713;
        border-radius: 3px;
        margin-bottom: 5px;
        z-index: 1;
        position: relative;
        transform-origin: 4px 0;
        transition: 1s ease;
        /* transition: backround 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),oppacity .5s ease; */
    }
    
   
    
    #menuToggle span:first-child{
        transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2){
        transform-origin: 0% 100%;
    }
    
    #menuToggle input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background-color: #000000;
    } 
    
    #menuToggle input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) translate( -2px, -1px);
    }
    #menuToggle input:checked ~ span:nth-last-child(2){
        transform: rotate(-45deg) translate( 0px, -1px);
    }
    
    
    #menu {
        position: absolute;
        width: 100%;
        height: 80vh;
        margin: -100px;
        padding: 50px;
        padding-top: 125px;
        background-color: #cdcdcd;
        list-style: none;
        transform-origin: 0 0;
        transform: translate(-100%, 0);
        transition: transform .5s ease;
        background-image: url("../img/javascript-trentech_q0ub3d.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -200px;
    }
    
    #menuToggle ul{
        padding: 50px;
        padding-top: 125px;
    }
    
    #menuToggle ul li{
        padding: 10px 15%;
        display: block;
        font-size: 22px;
        line-height: 100px;
    }
    
    #menuToggle input:checked ~ ul{
        transform: none;
    }
    
    
}